
.n-img
{
	/*width: 100%;*/
    /*height: 100%;*/
	padding: 1em 0em;
	
	height: 140px;
    width: 250px; 
}

.vender-name
{
	font-size: 1.42em;
    margin-top: 0.6em;
}

.n-icon
{
	margin-right: 0.52em;
}

.n-contact
{
	padding: 0.5em 0em;
    color: #18151b;
}
.address
{
	padding: 0.5em 0em;
    color: #18151b;
}