
.store-name
{
	font-size: 2.3em;
    text-align: left;
}

.store-core-info
{
	margin-left: 15px;
}

.store-address
{
	margin-top: 11px;
    font-size: 1.2em;
}
.store-address span
{
	margin-right: 7px;
}

.store-address i
{
	margin-left: 10px;
}

.store-phone
{
	margin-top: 7px;
    font-size: 1.2em;
}

.store-phone span
{
	margin-right: 10px;
}