.carousel-inner > .carousel-item {
    backface-visibility: visible;
    perspective: 1000px;
    transition: opacity 0.8s ease-in-out 0s;
}
.carousel-inner > .carousel-item.active.right, .carousel-inner > .carousel-item.next {
    left: 0;
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
	opacity:0;
}
.carousel-inner > .carousel-item.active.left, .carousel-inner > .carousel-item.prev {
    left: 0;
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
	opacity:0;
}
.carousel-inner > .carousel-item.active, .carousel-inner > .carousel-item.next.left, .carousel-inner > .carousel-item.prev.right {
    left: 0;
    opacity:1;
}