.show-file-img{
  display:block;
}
.hide-file-img{
  display:none !important;
}

.file-tb{
  border:0PX solid; 
  border-bottom: 1px solid lightgrey;
  width:90%;

}

.form-controls{


}


select#ctime.text-danger-400{
  color:red !important;

}
select#otime.text-danger-400{
  color:red !important;

}


.cont{
  width:40%;
  height:35%;
  //border:2px solid grey;
}


.top-border{
  border-bottom:1px solid lightgrey;
}

.btn-icon
{
  border:none;
  background-color:white;
  
}

.btn-icon:hover{
color:blue;
}

.cvrimg{
  
height:inherit;
width:inherit;

}


.cvrimgprediv{
height:335px !important;
width:1024px !important;
overflow:hidden;
object-fit:contain;

padding:0px;
margin:0px;

}

.thmbpreimg{
width:100%;
height:100%;
}


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3c7dcf;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #19c2e8;
  border: 0;
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}


 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

